'.source.js':
    # Angular
    'factory function':
        'prefix': 'ngfactoryfunction'
        'body': """
                  function ${1:"funcationName"}() {
                      return $http.${2:get}('${3:"url"}')
                          .then(${1:"funcationName"}Complete)
                          .catch(${1:"funcationName"}Failed);

                      function ${1:"funcationName"}Complete(response) {
                          return response.${4:data};
                      }

                      function ${1:"funcationName"}Failed(error) {
                          console.log('XHR Failed for ${1:"funcationName"}.' + error.data);
                      }
                  }
                  ${5}
                """
